.user-tram{
    background-color: #c4d3da;
    height: 35px;
    padding: 10px;
    border-left: 1px solid white;
}

.link{
    color: white !important;
    font-size: 12pt;
}
.link:first-child{
    padding-left: 20px;
}

.div-link{
    
}

.link-to-home{
    font-size: 60% !important; 
  }
.host-device-title{
    padding: 3px;
    background-color: #ececec;
}
.quota-device{
    border: 1px solid #c7c7c7;
}
.title-bold{
    font-weight:bold;
}
.quota-input{
    max-width: 50px;
    text-align: right;
    padding-right: 3px;
}